:host {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

main {
    grid-area: main;
    width: 100%;
    max-width: 1600px;
    padding: 15px;
    margin: 0 auto;
}