.view-details {
    display: inline-block;
    margin: 15px;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #999;
    color: #333;
    border-radius: 5px;
    background: #f6f6f6;
}